<div class="halo-sidebar halo-sidebar-left halo-sidebar_search" id="search-form-mobile">
    <a href="#" class="halo-sidebar-close" data-search-close-sidebar alt="{{ 'general.common.close' | t }}">
        {% render 'icon-close' %}
        {{ 'general.common.close' | t }}
    </a>
    <div class="halo-sidebar-header text-left">
		<span class="title">
			{{ 'general.search.search' | t }}
		</span>
	</div>
    <div class="halo-sidebar-wrapper custom-scrollbar">
        <style>
            .halo-sidebar_search predictive-search { position: static; }
            .halo-sidebar_search #predictive-search,
            .halo-sidebar_search #predictive-search-trending {
                position: static;
                width: 100%;
                min-width: unset;
                max-width: unset;
                box-shadow: none;
                border-radius: 0;
                margin-top: 10px;
            }
            .halo-sidebar_search .predictive-search-results__grid {
                grid-template-columns: repeat(2, 1fr);
            }
        </style>
        {% render 'predictive-search-form' %}
    </div>
</div>
